body{
    background-color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header{
    background-color: teal;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.logo{
    text-decoration: none;
    color: whitesmoke;
}

body .main-weather-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    margin: 0em 0 0 0;
    height: 85%;
}

.main-weather-card{
    width: 30%;
    height: 85%;
    border-radius: 1em;
    /* background-color: teal; */
    background-image: linear-gradient(135deg, #07e0a7, #5b548a);
    margin: 1em;
    padding: 2em 1em 1em 1em;
}

.search-form{
    display: flex;
    align-items: center;
    width: 100%;
}

input{
    flex: 1;
    padding: 1em;
    border-radius: 0.9em;
    margin-right: 0.3em;
    border: none;
}

.search-btn{
    background-color: whitesmoke;
    border: none;
    padding: 0.5em;
    border-radius: 0.9em;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-btn:hover{
    background-color: #07e0a7;
    color: whitesmoke;
}

.city-name-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0.7em;
}      

.city-name-section .city{
    padding: 0%;
    margin-bottom: 3%;
    margin-top: 2%;
    font-size: 3em;
}

.city-countrycode{
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-code{
    font-size: 2.5em;
    padding: 0%;
    margin-bottom: 1%;
    margin-top: 2%;
}

.city-name-section .date{
    margin: 0%;
    padding: 2%;
    background-color: rgb(23, 22, 22);
    border-radius: 1em;
    box-shadow: 0px 0px 2px darkgrey;
}

.temperature-info{
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
}

.temperature-info .temperature{
    font-size: 5em;
}

.temperature-info .descritpion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
}

.temperature-info .descritpion i{
    font-size: 1.5rem;
}

.temperature-info .descritpion span{
    font-size: 1.5rem;
}

.additional-info{
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wind-info, 
.humidity-info, 
.visibility-info {
    background-color: whitesmoke;
    color: rgb(23, 22, 22);
    width: 8em;
    border-radius: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7em;
    box-shadow: 0px 0px 2px darkgrey;
    text-align: center;
}

.additional-info .material-icons{
    font-size: 3em;
    color: rgb(23, 22, 22);
}

.forecast-weather-card{
    width: 70%;
    height: 85%;
    border-radius: 1em;
    /* background-color: teal; */
    background-image: linear-gradient(135deg, #07e0a7, #5b548a);
    margin: 1em;
    padding: 1em;
}

.forecast-title-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0.7em;
    font-size: 2em;
}

.forecast-title-section .title{
    font-size: 2.4em;
}

.card-grid-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2.7em;
}

.card-row-one, 
.card-row-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-row-two{
    margin-top: 1em;
}

.card-one,
.card-two,
.card-three,
.card-four,
.card-five,
.card-six{
    background-color: whitesmoke;
    color: rgb(23, 22, 22);
    width: 20em;
    border-radius: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7em;
    box-shadow: 0px 0px 2px darkgrey;
    text-align: center;
}

.card-one i,
.card-two i,
.card-three i,
.card-four i,
.card-five i,
.card-six i{
    font-size: 1.8em;
}

.card-row-one .material-icons{
    color: rgb(23, 22, 22);
}

.card-row-two .material-icons{
    color: rgb(23, 22, 22);
}

.a{
    margin: 0;
}

.line-chart-container{
    width: 95%;
    height: 90%;
    border-radius: 1em;
    background-image: linear-gradient(135deg, rgba(7, 224, 167, 0.4), rgba(91, 84, 138, 0.4));
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forecastChart{
    width: 100%;
    height: 80%;
}

@media only screen and (max-width: 1024px) {
    /* Adjust styles for tablets and smaller screens here */
    body{
        height: 82vh;
    }

    body .main-weather-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        margin: 1em 0 0 0;
        height: 100%;
    }

    .main-weather-card,
    .forecast-weather-card {
        width: 95%;
    }

    .header{
        font-size: 1.5em;
    }

    body .main-weather-container{
        margin: 0.5em 0 0 0;

    }

    .additional-info{
        padding-top: 1em;
    }

    .forecast-weather-card{
        margin: 0.5em 0 0 0;

    }

    .wind-info, 
    .humidity-info, 
    .visibility-info{
        width: 17em;
    }

    .card-grid-container{
        width: 100%;
    }

    .card-one i,
    .card-two i,
    .card-three i,
    .card-four i,
    .card-five i,
    .card-six i{
        font-size: 1.6em;
    }

    .card-one,
    .card-two,
    .card-three,
    .card-four,
    .card-five,
    .card-six{
        width: 17em;
    }

    .line-chart-container{
        width: 94%;
        height: 35%;
        border-radius: 1em;
        background-image: linear-gradient(135deg, rgba(7, 224, 167, 0.5), rgba(91, 84, 138, 0.5));
        margin-top: 1.2em;
        padding: 0 0.7em 0 0.7em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #forecastChart{
        width: 100%;
        height: 90%;
    }
}

@media only screen and (max-width: 768px) {
    /* Adjust styles for mobile devices here */
    body{
        height: 100vh;
    }

    body .main-weather-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        margin: 1em 0 0 0;
        height: 100%;
        margin: 0em 0 0 0;
    }
    
    .main-weather-card,
    .forecast-weather-card {
        margin-top: 4em;
        width: 90%;
    }

    .wind-info, 
    .humidity-info, 
    .visibility-info{
        width: 9em;
    }
    
    .additional-info{
        padding-top: 1em;
    }

    .forecast-weather-card{
        margin: 0.5em 0 0 0;
    }

    .card-grid-container{
        width: 100%;
    }

    .card-one,
    .card-two,
    .card-three,
    .card-four,
    .card-five,
    .card-six{
        width: 9em;
    }

    .card-one i,
    .card-two i,
    .card-three i,
    .card-four i,
    .card-five i,
    .card-six i{
        font-size: 1.5em;
    }

    .line-chart-container{
        width: 93%;
        height: 35%;
        border-radius: 1em;
        background-image: linear-gradient(135deg, rgba(7, 224, 167, 0.4), rgba(91, 84, 138, 0.4));
        margin-top: 2.7em;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #forecastChart{
        width: 95%;
        height: 90%;
    }
}

